@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Nanum+Gothic:wght@400;700&display=swap");

$font-family-sans-serif: "Nanum Gothic", sans-serif;
$font-family-serif: "Cinzel", serif;

$white: #fff;
$black: #0f0f0f;
$red: #ee253d;
